<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-y697{background-color:#3166ff;border-color:#c0c0c0;color:#ffffff;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-u4qj{background-color:#efefef;border-color:#c0c0c0;text-align:left;vertical-align:top}
.tg .tg-wo29{border-color:#c0c0c0;text-align:left;vertical-align:top}
.tg .tg-jenm{background-color:#ecf4ff;border-color:#c0c0c0;text-align:left;vertical-align:top}
</style>
<table class="tg">
  <title>{{time}} SKT타워 외기냉방 추천 Card</title>
  <p> <b>###  SKT타워 외기냉방 추천 Card  ###</b> </p>
  <p> <b>- 현재시간: <li style="color:#00008B;">{{time}}</li></b> </p>
  <p> <b>- 실외 엔탈피 현황: <li style="color:#00008B;">{{out_enthalpy}}kJ/kg</li> (<li style="color:#00008B;">{{out_Temperature}}℃</li>, <li style="color:#00008B;">{{out_Humidity}}%)</li> </b></p>
  <p> <b>- 미세먼지: <li style="color:#00008B;">{{fine_dust}}</li>㎍/m³ | 초미세먼지: <li style="color:#00008B;">{{fine_particulate_matter}}㎍/m³</li></b></p>
  <p> <b>- 최고온도층: <li style="color:#00008B;">{{in_Max_Temperature}}℃</li> (<li style="color:#00008B;">{{in_Max_TF}}</li>) |  최저온도층: <li style="color:#00008B;">{{in_Min_Temperature}}℃</li> (<li style="color:#00008B;">{{in_Min_TF}}</li>) |  평균온도: <li style="color:#00008B;">{{in_Mean_Temperature}}℃</li></b> </p>
  <p> <b>- 냉방방식 점검 필요: {{check_need}}</b> </p>
<thead>
  <tr>
    <th class="tg-y697">층</th>
    <th class="tg-y697">실내엔탈피(kJ/kg)</th>
    <th class="tg-y697">외기댐퍼개도율(%)</th>
    <th class="tg-y697">실내온도(℃)</th>
    <th class="tg-y697">실내습도(%)</th>
    <th class="tg-y697">추천냉방방식</th>
    <th class="tg-y697">현재냉방방식</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-u4qj">01F</td>
    <td class="tg-wo29">{{in_enthalpy.1F}}</td>
    <td class="tg-wo29">{{od_value.1F}}</td>
    <td class="tg-wo29">{{in_Temperature.1F}}</td>
    <td class="tg-wo29">{{in_Humidity.1F}}</td>
    <td class="tg-wo29">{{recommend.1F}}</td>
    <td class="tg-wo29">{{now_state.1F}}</td>
  </tr>
  <tr>
    <td class="tg-u4qj">02F</td>
    <td class="tg-wo29">{{in_enthalpy.2F}}</td>
    <td class="tg-wo29">{{od_value.2F}}</td>
    <td class="tg-wo29">{{in_Temperature.2F}}</td>
    <td class="tg-wo29">{{in_Humidity.2F}}</td>
    <td class="tg-wo29">{{recommend.2F}}</td>
    <td class="tg-wo29">{{now_state.2F}}</td>
  </tr>
  <tr>
    <td class="tg-u4qj">03F</td>
    <td class="tg-wo29">{{in_enthalpy.3F}}</td>
    <td class="tg-wo29">{{od_value.3F}}</td>
    <td class="tg-wo29">{{in_Temperature.3F}}</td>
    <td class="tg-wo29">{{in_Humidity.3F}}</td>
    <td class="tg-wo29">{{recommend.3F}}</td>
    <td class="tg-wo29">{{now_state.3F}}</td>
  </tr>
  <tr>
    <td class="tg-u4qj">04F</td>
    <td class="tg-wo29">{{in_enthalpy.4F}}</td>
    <td class="tg-wo29">{{od_value.4F}}</td>
    <td class="tg-wo29">{{in_Temperature.4F}}</td>
    <td class="tg-wo29">{{in_Humidity.4F}}</td>
    <td class="tg-wo29">{{recommend.4F}}</td>
    <td class="tg-wo29">{{now_state.4F}}</td>
  </tr>
  <tr>
    <td class="tg-u4qj">05F</td>
    <td class="tg-wo29">{{in_enthalpy.5F}}</td>
    <td class="tg-wo29">{{od_value.5F}}</td>
    <td class="tg-wo29">{{in_Temperature.5F}}</td>
    <td class="tg-wo29">{{in_Humidity.5F}}</td>
    <td class="tg-wo29">{{recommend.5F}}</td>
    <td class="tg-wo29">{{now_state.5F}}</td>
  </tr>
  <tr>
    <td class="tg-u4qj">06F</td>
    <td class="tg-wo29">{{in_enthalpy.6F}}</td>
    <td class="tg-wo29">{{od_value.6F}}</td>
    <td class="tg-wo29">{{in_Temperature.6F}}</td>
    <td class="tg-wo29">{{in_Humidity.6F}}</td>
    <td class="tg-wo29">{{recommend.6F}}</td>
    <td class="tg-wo29">{{now_state.6F}}</td>
  </tr>
  <tr>
    <td class="tg-u4qj">07F</td>
    <td class="tg-wo29">{{in_enthalpy.7F}}</td>
    <td class="tg-wo29">{{od_value.7F}}</td>
    <td class="tg-wo29">{{in_Temperature.7F}}</td>
    <td class="tg-wo29">{{in_Humidity.7F}}</td>
    <td class="tg-wo29">{{recommend.7F}}</td>
    <td class="tg-wo29">{{now_state.7F}}</td>
  </tr>
  <tr>
    <td class="tg-u4qj">08F</td>
    <td class="tg-wo29">{{in_enthalpy.8F}}</td>
    <td class="tg-wo29">{{od_value.8F}}</td>
    <td class="tg-wo29">{{in_Temperature.8F}}</td>
    <td class="tg-wo29">{{in_Humidity.8F}}</td>
    <td class="tg-wo29">{{recommend.8F}}</td>
    <td class="tg-wo29">{{now_state.8F}}</td>
  </tr>
  <tr>
    <td class="tg-u4qj">09F</td>
    <td class="tg-wo29">{{in_enthalpy.9F}}</td>
    <td class="tg-wo29">{{od_value.9F}}</td>
    <td class="tg-wo29">{{in_Temperature.9F}}</td>
    <td class="tg-wo29">{{in_Humidity.9F}}</td>
    <td class="tg-wo29">{{recommend.9F}}</td>
    <td class="tg-wo29">{{now_state.9F}}</td>
  </tr>
  <tr>
    <td class="tg-u4qj">10F</td>
    <td class="tg-wo29">{{in_enthalpy.10F}}</td>
    <td class="tg-wo29">{{od_value.10F}}</td>
    <td class="tg-wo29">{{in_Temperature.10F}}</td>
    <td class="tg-wo29">{{in_Humidity.10F}}</td>
    <td class="tg-wo29">{{recommend.10F}}</td>
    <td class="tg-wo29">{{now_state.10F}}</td>
  </tr>
  <tr>
    <td class="tg-u4qj">11F</td>
    <td class="tg-jenm">{{in_enthalpy.11F}}</td>
    <td class="tg-jenm">{{od_value.11F}}</td>
    <td class="tg-jenm">{{in_Temperature.11F}}</td>
    <td class="tg-jenm">{{in_Humidity.11F}}</td>
    <td class="tg-jenm">{{recommend.11F}}</td>
    <td class="tg-jenm">{{now_state.11F}}</td>
  </tr>
  <tr>
    <td class="tg-u4qj">12F</td>
    <td class="tg-jenm">{{in_enthalpy.12F}}</td>
    <td class="tg-jenm">{{od_value.12F}}</td>
    <td class="tg-jenm">{{in_Temperature.12F}}</td>
    <td class="tg-jenm">{{in_Humidity.12F}}</td>
    <td class="tg-jenm">{{recommend.12F}}</td>
    <td class="tg-jenm">{{now_state.12F}}</td>
  </tr>
  <tr>
    <td class="tg-u4qj">13F</td>
    <td class="tg-jenm">{{in_enthalpy.13F}}</td>
    <td class="tg-jenm">{{od_value.13F}}</td>
    <td class="tg-jenm">{{in_Temperature.13F}}</td>
    <td class="tg-jenm">{{in_Humidity.13F}}</td>
    <td class="tg-jenm">{{recommend.13F}}</td>
    <td class="tg-jenm">{{now_state.13F}}</td>
  </tr>
  <tr>
    <td class="tg-u4qj">14F</td>
    <td class="tg-jenm">{{in_enthalpy.14F}}</td>
    <td class="tg-jenm">{{od_value.14F}}</td>
    <td class="tg-jenm">{{in_Temperature.14F}}</td>
    <td class="tg-jenm">{{in_Humidity.14F}}</td>
    <td class="tg-jenm">{{recommend.14F}}</td>
    <td class="tg-jenm">{{now_state.14F}}</td>
  </tr>
  <tr>
    <td class="tg-u4qj">15F</td>
    <td class="tg-jenm">{{in_enthalpy.15F}}</td>
    <td class="tg-jenm">{{od_value.15F}}</td>
    <td class="tg-jenm">{{in_Temperature.15F}}</td>
    <td class="tg-jenm">{{in_Humidity.15F}}</td>
    <td class="tg-jenm">{{recommend.15F}}</td>
    <td class="tg-jenm">{{now_state.15F}}</td>
  </tr>
  <tr>
    <td class="tg-u4qj">16F</td>
    <td class="tg-jenm">{{in_enthalpy.16F}}</td>
    <td class="tg-jenm">{{od_value.16F}}</td>
    <td class="tg-jenm">{{in_Temperature.16F}}</td>
    <td class="tg-jenm">{{in_Humidity.16F}}</td>
    <td class="tg-jenm">{{recommend.16F}}</td>
    <td class="tg-jenm">{{now_state.16F}}</td>
  </tr>
  <tr>
    <td class="tg-u4qj">17F</td>
    <td class="tg-jenm">{{in_enthalpy.17F}}</td>
    <td class="tg-jenm">{{od_value.17F}}</td>
    <td class="tg-jenm">{{in_Temperature.17F}}</td>
    <td class="tg-jenm">{{in_Humidity.17F}}</td>
    <td class="tg-jenm">{{recommend.17F}}</td>
    <td class="tg-jenm">{{now_state.17F}}</td>
  </tr>
  <tr>
    <td class="tg-u4qj">18F</td>
    <td class="tg-jenm">{{in_enthalpy.18F}}</td>
    <td class="tg-jenm">{{od_value.18F}}</td>
    <td class="tg-jenm">{{in_Temperature.18F}}</td>
    <td class="tg-jenm">{{in_Humidity.18F}}</td>
    <td class="tg-jenm">{{recommend.18F}}</td>
    <td class="tg-jenm">{{now_state.18F}}</td>
  </tr>
  <tr>
    <td class="tg-u4qj">19F</td>
    <td class="tg-jenm">{{in_enthalpy.19F}}</td>
    <td class="tg-jenm">{{od_value.19F}}</td>
    <td class="tg-jenm">{{in_Temperature.19F}}</td>
    <td class="tg-jenm">{{in_Humidity.19F}}</td>
    <td class="tg-jenm">{{recommend.19F}}</td>
    <td class="tg-jenm">{{now_state.19F}}</td>
  </tr>
  <tr>
    <td class="tg-u4qj">20F</td>
    <td class="tg-jenm">{{in_enthalpy.20F}}</td>
    <td class="tg-jenm">{{od_value.20F}}</td>
    <td class="tg-jenm">{{in_Temperature.20F}}</td>
    <td class="tg-jenm">{{in_Humidity.20F}}</td>
    <td class="tg-jenm">{{recommend.20F}}</td>
    <td class="tg-jenm">{{now_state.20F}}</td>
  </tr>
  <tr>
    <td class="tg-u4qj">21F</td>
    <td class="tg-wo29">{{in_enthalpy.21F}}</td>
    <td class="tg-wo29">{{od_value.21F}}</td>
    <td class="tg-wo29">{{in_Temperature.21F}}</td>
    <td class="tg-wo29">{{in_Humidity.21F}}</td>
    <td class="tg-wo29">{{recommend.21F}}</td>
    <td class="tg-wo29">{{now_state.21F}}</td>
  </tr>
  <tr>
    <td class="tg-u4qj">22F</td>
    <td class="tg-wo29">{{in_enthalpy.22F}}</td>
    <td class="tg-wo29">{{od_value.22F}}</td>
    <td class="tg-wo29">{{in_Temperature.22F}}</td>
    <td class="tg-wo29">{{in_Humidity.22F}}</td>
    <td class="tg-wo29">{{recommend.22F}}</td>
    <td class="tg-wo29">{{now_state.22F}}</td>
  </tr>
  <tr>
    <td class="tg-u4qj">23F</td>
    <td class="tg-wo29">{{in_enthalpy.23F}}</td>
    <td class="tg-wo29">{{od_value.23F}}</td>
    <td class="tg-wo29">{{in_Temperature.23F}}</td>
    <td class="tg-wo29">{{in_Humidity.23F}}</td>
    <td class="tg-wo29">{{recommend.23F}}</td>
    <td class="tg-wo29">{{now_state.23F}}</td>
  </tr>
  <tr>
    <td class="tg-u4qj">24F</td>
    <td class="tg-wo29">{{in_enthalpy.24F}}</td>
    <td class="tg-wo29">{{od_value.24F}}</td>
    <td class="tg-wo29">{{in_Temperature.24F}}</td>
    <td class="tg-wo29">{{in_Humidity.24F}}</td>
    <td class="tg-wo29">{{recommend.24F}}</td>
    <td class="tg-wo29">{{now_state.24F}}</td>
  </tr>
  <tr>
    <td class="tg-u4qj">25F</td>
    <td class="tg-wo29">{{in_enthalpy.25F}}</td>
    <td class="tg-wo29">{{od_value.25F}}</td>
    <td class="tg-wo29">{{in_Temperature.25F}}</td>
    <td class="tg-wo29">{{in_Humidity.25F}}</td>
    <td class="tg-wo29">{{recommend.25F}}</td>
    <td class="tg-wo29">{{now_state.25F}}</td>
  </tr>
  <tr>
    <td class="tg-u4qj">26F</td>
    <td class="tg-wo29">{{in_enthalpy.26F}}</td>
    <td class="tg-wo29">{{od_value.26F}}</td>
    <td class="tg-wo29">{{in_Temperature.26F}}</td>
    <td class="tg-wo29">{{in_Humidity.26F}}</td>
    <td class="tg-wo29">{{recommend.26F}}</td>
    <td class="tg-wo29">{{now_state.26F}}</td>
  </tr>
  <tr>
    <td class="tg-u4qj">27F</td>
    <td class="tg-wo29">{{in_enthalpy.27F}}</td>
    <td class="tg-wo29">{{od_value.27F}}</td>
    <td class="tg-wo29">{{in_Temperature.27F}}</td>
    <td class="tg-wo29">{{in_Humidity.27F}}</td>
    <td class="tg-wo29">{{recommend.27F}}</td>
    <td class="tg-wo29">{{now_state.27F}}</td>
  </tr>
  <tr>
    <td class="tg-u4qj">28F</td>
    <td class="tg-wo29">{{in_enthalpy.28F}}</td>
    <td class="tg-wo29">{{od_value.28F}}</td>
    <td class="tg-wo29">{{in_Temperature.28F}}</td>
    <td class="tg-wo29">{{in_Humidity.28F}}</td>
    <td class="tg-wo29">{{recommend.28F}}</td>
    <td class="tg-wo29">{{now_state.28F}}</td>
  </tr>
  <tr>
    <td class="tg-u4qj">29F</td>
    <td class="tg-wo29">{{in_enthalpy.29F}}</td>
    <td class="tg-wo29">{{od_value.29F}}</td>
    <td class="tg-wo29">{{in_Temperature.29F}}</td>
    <td class="tg-wo29">{{in_Humidity.29F}}</td>
    <td class="tg-wo29">{{recommend.29F}}</td>
    <td class="tg-wo29">{{now_state.29F}}</td>
  </tr>
  <tr>
    <td class="tg-u4qj">30F</td>
    <td class="tg-wo29">{{in_enthalpy.30F}}</td>
    <td class="tg-wo29">{{od_value.30F}}</td>
    <td class="tg-wo29">{{in_Temperature.30F}}</td>
    <td class="tg-wo29">{{in_Humidity.30F}}</td>
    <td class="tg-wo29">{{recommend.30F}}</td>
    <td class="tg-wo29">{{now_state.30F}}</td>
  </tr>
  <tr>
    <td class="tg-u4qj">31F</td>
    <td class="tg-jenm">{{in_enthalpy.31F}}</td>
    <td class="tg-jenm">{{od_value.31F}}</td>
    <td class="tg-jenm">{{in_Temperature.31F}}</td>
    <td class="tg-jenm">{{in_Humidity.31F}}</td>
    <td class="tg-jenm">{{recommend.31F}}</td>
    <td class="tg-jenm">{{now_state.31F}}</td>
  </tr>
  <tr>
    <td class="tg-u4qj">32F</td>
    <td class="tg-jenm">{{in_enthalpy.32F}}</td>
    <td class="tg-jenm">{{od_value.32F}}</td>
    <td class="tg-jenm">{{in_Temperature.32F}}</td>
    <td class="tg-jenm">{{in_Humidity.32F}}</td>
    <td class="tg-jenm">{{recommend.32F}}</td>
    <td class="tg-jenm">{{now_state.32F}}</td>
  </tr>
  <tr>
    <td class="tg-u4qj">33F</td>
    <td class="tg-jenm">{{in_enthalpy.33F}}</td>
    <td class="tg-jenm">{{od_value.33F}}</td>
    <td class="tg-jenm">{{in_Temperature.33F}}</td>
    <td class="tg-jenm">{{in_Humidity.33F}}</td>
    <td class="tg-jenm">{{recommend.33F}}</td>
    <td class="tg-jenm">{{now_state.33F}}</td>
  </tr>
</tbody>
</table>
