<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-y697{background-color:#3166ff;border-color:#c0c0c0;color:#ffffff;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-wo29{border-color:#c0c0c0;text-align:left;vertical-align:top}
</style>
<table class="tg">
  <title>{{time}} SKT타워 외기냉방 추천 Card</title>
  <p> - 현재시간: {{time}} </p>
  <p> - 실외 엔탈피 현황: {{out_enthalpy}}kJ/kg ({{out_Temperature}}℃, {{out_Humidity}}%) </p>
  <p> - 미세먼지: {{fine_dust}}㎍/m³ | 초미세먼지: {{fine_particulate_matter}}㎍/m³</p>
  <p> - 냉방방식 점검 필요: {{check_need}} </p>
<thead>
  <tr>
    <th class="tg-y697">층</th>
    <th class="tg-y697">실내엔탈피(kJ/kg)</th>
    <th class="tg-y697">외기댐퍼개도율(%)</th>
    <th class="tg-y697">실내온도(℃)</th>
    <th class="tg-y697">실내습도(%)</th>
    <th class="tg-y697">추천냉방방식</th>
    <th class="tg-y697">현재냉방방식</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-wo29">1F</td>
    <td class="tg-wo29">{{실내엔탈피(kJ/kg).1F}}</td>
    <td class="tg-wo29">{{외기댐퍼(%).1F}}</td>
    <td class="tg-wo29">{{온도(℃).1F}}</td>
    <td class="tg-wo29">{{습도(%).1F}}</td>
    <td class="tg-wo29">{{추천냉방방식.1F}}</td>
    <td class="tg-wo29">{{추천냉방방식.1F}}</td>
  </tr>
</tbody>
</table>
